.caption{
	color: #79EFF7;	
}

li {
    font-size: 20px;
    color: #B94A48;
    font-style: italic;
}
p {
    font-family: "Arial", sans-serif;
    color: #79EFF7;
}

ul,i,a {
    color: #89F735;
}
a {
   color: #ff3300; 
}
table {
    border-collapse: collapse;
    border: 2px solid black;
}

td {
    padding: 5px;
    padding-right: 10px;
    border: 1px solid lightgray;
    color: brown;
    background-color: lightyellow;
}

th {
    padding: 10px;
    border: 1px solid black;
    color: darkblue;
    background-color: lightcyan;
}

caption {
    margin-bottom: 10px;
    font-size: 18px;
}

.table {
    margin-left: 800px;
}
#button{
 padding:10px 15px;
 background-color:#B34EE9;
 border:1px solid #DEDEDE;
 font:normal 18px "Arial";
 color: #00008B;
 cursor:pointer;
 text-shadow: 0 1px 0 white;
 border-radius: 5px;
 background: -webkit-linear-gradient(top, #B34EE9, #EBEBEB);
 background:    -moz-linear-gradient(top, #B34EE9, #EBEBEB);
 background:     -ms-linear-gradient(top, #B34EE9, #EBEBEB);
 background:      -o-linear-gradient(top, #B34EE9, #EBEBEB);
}

#button:hover{

 -webkit-box-shadow:0 0 5px 1px #EAEAEA;
 -moz-box-shadow:0 0 5px 1px #EAEAEA;
 box-shadow:0 0 5px 1px #EAEAEA;

 background: (top, #fff, #E0E0E0);
}
